html,
body {
  user-select: none;
  -webkit-user-select: text; /* Safari fnoneback only */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  max-width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: grey;
  width: 100vh;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imageContainer {
  position: relative;
  height: 1350px;
  width: 1080px;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.boundContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
}

.bound {
  flex: 1;
}
